<html>
  <head>    
  <%- include('partials/_header'); -%>
	<!-- * LINKS * -->	
	<link rel="stylesheet" href="https://purple-silver-helicona.glitch.me/style.css">
	<link rel="icon" href="images/cedar.png">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,800,300" rel="stylesheet" type="text/css">
	<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">


	<!-- * JAVA SCRIPT * -->	
	<script src="https://kit.fontawesome.com/c8e4d183c2.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" charset="utf-8"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>


</head>
<body>


	<!-- * PRELOADER * -->

  	<div class="loader-wrapper">
      	<span class="loader"><span class="loader-inner"></span></span>
  	</div>  

	<!-- * HEADER + NAV * -->
	
	<section class="banner" id="home">
    <div class="overlay"></div>		
		<div class="content" data-aos="fade-right" data-aos-duration="1000">
			<h2>
				Merhaba,<br>
				<span style="color: #3AB8BA">Hoş Geldin!</span>
			</h2>

			<p>
				Discord botunu				Discord botunu geliştirmek ister misin? İşte <span style="font-weight: bold;">KadirCode</span> senin için burada! Burada sana kodları ücretsiz bir şekilde sunuyoruz, Daha özel kodlara sahip olabilmek için arkadaşlarını davet etmen yeterli olacaktır.
 geliştirmek ister misin? İşte <span style="font-weight: bold;">KadirCode</span> senin için burada! Burada sana kodları ücretsiz bir şekilde sunuyoruz, Daha özel kodlara sahip olabilmek için arkadaşlarını davet etmen yeterli olacaktır.
			</p>
			<a href="https://discord.gg/rupdbmVKbf" style="text-decoration:none;" target="_blank"><i class="fab fa-discord" style="margin-right: 10px; font-size: 20px;"></i>Sunucumuza Katıl!</a>

		</div>	

	</section>


	
	<!-- * ABOUT US * -->

	<section class="services p-t-30" id="about">
		<h1><span style="color: #3AB8BA">KadirCode</span> hakkında</h1>
		<div class="container">
			<div class="service">
				<i class="fas fa-hands-helping" style="color: #3AB8BA"></i>
				<h2>YARDIMLAŞMA</h2>
				<p>
					Discord botunuzda oluşan hatalarda veya yapamadığınız kodlarda sunucumuzda bulunan yardım kanallarından destek alabilirsiniz. Tamamen ücretsiz bir şekilde destek veriyoruz!
				</p>
			</div>

			<div class="service">
				<i class="fas fa-hand-sparkles" style="color: #3AB8BA"></i>
				<h2>YETKİLİLER</h2>
				<p>
					Yetkililerimiz en iyi şekilde sizlere destek çıkmaya çalışmaktadır. Ekibimiz sizlere daha iyi bir hizmet vermek için çabalamaktadır. Daha iyi hizmet vermek için çalışıyoruz.
				</p>
			</div>
			<div class="service">
				<i class="fas fa-hammer" style="color: #3AB8BA"></i>
				<h2>ÜCRETSİZ KODLAR</h2>
				<p>
					Hiçbir maddi destek istemeden sizlere ücretsiz bir şekilde kodları sunuyoruz. Sadece arkadaşlarınızı Sunucuya davet ederek ya da sunucuda aktif kalarak daha özel kodlara sahip olabilirsiniz.
				</p>
			</div>
			<div class="service" style="width: 80% !important; margin-top: 50px;">
				<i class="fas fa-star" style="color: #3AB8BA"></i>

				<p>
					Türkiye'nin En Kaliteli ve Ücretsiz Kod Paylaşım Sitesi Olan KadirCode 10.04.22 tarihinde 3 ortak ile kuruldu. İleriki zamanlarda Bot List, Server List gibi planlarımızda var. Sizde şuan discord sunucumuza katılıp ücretsiz bir şekilde botunuzu geliştirebilirsiniz.
				</p>
			</div>
		</div>
	</section>


	<!-- * DISCORD * -->

	<div class="discord">
		<div class="overlay"></div>
		<div class="text">
			<h1>Sunucumuza hala<br>göz atmadın mı?</h1>
			<a href="https://discord.gg/rupdbmVKbf" style="text-decoration:none;"target="_blank">Hemen Katıl!</a>
		</div>
		<div class="discordImg">
			<img src="https://cdn.glitch.global/9ca35064-0fa0-444e-b163-db8ba61b4ce7/Discord-Logo%2BWordmark-Black.png?v=1649554000256">
<!-- 			<iframe src="https://canary.discordapp.com/widget?id=627235926929571840&theme=dark" width="350" height="250" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe> -->
		</div>
	</div>


	<!-- * FOOTER * -->

    <div class="footer">
    	<h2>KadirCode</h2>
    	<div class="footerLinks">
    		<a href="#" class="colored" style="color: #3AB8BA; opacity: 0.7">Ana Sayfa</a>
    		<a href="#about">Hakkımızda</a>
    		<!--<a href="members.html">Ekibimiz</a>-->
    		<a href="https://discord.gg/rupdbmVKbf" target="_blank">Discord</a>
    	</div>
    </div><br><center>
      <div>
        <input type="checkbox" class="checkbox" id="checkbox">
        <label for="checkbox" class="label"><p style="margin-left: -60px; margin-top: 15px; font-weight: bold; cursor: auto;">Tema: </p>
        <i class="fas fa-moon"></i>
        <i class="fas fa-sun"></i>
        <div class="ball"></div>
        </label>
      </div></center><br>

	<!-- * SCROLL TO TOP * -->

	<button id="back-to-top-btn"><i class="fa fa-angle-up"></i></button>


	<!-- JAVASCRIPT -->
<script>
    // LIGHT MODE
        const checkbox = document.getElementById('checkbox');
        
        checkbox.addEventListener('change', () => {
          
          document.body.classList.toggle('light');
        });
      </script>
	<script>
	// TOGGLE EFFECT
		function toggle() {
			var home = document.getElementById('home');
			var nav = document.getElementById('navigation');
			home.classList.toggle('active');
			nav.classList.toggle('active');
		}
	</script>
  	<script>
  	// PRELOADER EFFECT
    	$(window).on("load",function(){
     	$(".loader-wrapper").fadeOut("slow");
    	});
  	</script>
  	<script>
  		// ANIMATE ON SCROLL
  		AOS.init();
	</script>
	<script src="https://purple-silver-helicona.glitch.me/Javascript/main.js"></script>	
</body>
</html>