<div class="footer">
  <h6>
    Made by <a href="https://discordapp.com/users/267373400022843393" target="_blank">Curwels</a>
    with <i class="fas fa-heart" style="color: red"></i> and
    <i class="fas fa-coffee" style="color: #6f4e37"></i>
  </h6>
</div>