<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=0.6" />
<meta property="og:title" content="KadirCode | Discord Codes"/>
<meta property="og:url" content="https://kadircode.tk" />
<meta property="og:description" content="Discord botunu geliştirmek ister misin? İşte KadirCode senin için burada!">
<meta property="og:image" content="https://cdn.glitch.global/9ca35064-0fa0-444e-b163-db8ba61b4ce7/discord-avatar-512-ZB7DW.png?v=1654959962602"/>
<meta name="theme-color" content="#07233B"/>
<title>KadirCode</title>
<link rel="icon" href="<%= icon %>" type="image/x-icon" />
<link rel="stylesheet" href="/index.css" />
<link rel="stylesheet" href="/açıktema.css" />
<script src="https://kit.fontawesome.com/f25aa5bb82.js" crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet"/>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
<nav style="margin-left:5%;margin-right:5%;"class="navbar navbar-expand-md navbar-dark bg-transparent fixed-top" id="mainNav">
  <a class="deneme navbar-brand" style="margin-left: 10px;padding:10px" href="/"><img src="<%= icon %>" style="border-radius: 100%" width="30" height="30">
    KadirCode
  </a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto">
      <li class="deneme nav-item dropdown">
        <a class="deneme nav-link dropdown-toggle"><i class="fa-solid fa-code"></i> Kodlar</a>
        <div class="dropdown-menu bg-transparent">
          <a class="dropdown-item" href="/normal">Normal Kodlar</a>
          <a class="dropdown-item" href="/gold">Altın Kodlar</a>
          <a class="dropdown-item" href="/diamond">Elmas Kodlar</a>
          <a class="dropdown-item" href="/ready">Altyapı</a>
          <div class="dropdown-divider" style="border-top:1px solid #20262c"></div>
            <a class="dropdown-item" href="/fromyou">Sizden gelenler</a>
        </div>
      </li>
      <li class="deneme nav-item">
        <a class="nav-link" href="/discord"><i class="fa-brands fa-discord"></i> Discord</a>
      </li>
      <li class="deneme nav-item">
        <a class="nav-link" href="/information"><i class="fa-solid fa-circle-info"></i> Bilgilendirme</a>
      </li>
      <li class="deneme nav-item">
        <a class="nav-link" href="/authorized"><i class="fa-solid fa-user-shield"></i> Yetkililerimiz</a>
      </li>
    </ul>

    <% if (user) { %>
    <ul class="navbar-nav" style="margin-right: 20px;">
      <% if (reqMember && reqMember.hasPermission(8)) { %>
      <li class="deneme nav-item">
      <a class="nav-link" href="/admin"><i class="fa-solid fa-hammer"></i> Admin Panel</a>
      </li>
      <% } %>
      <li class="deneme nav-item">
      <a class="nav-link" href="/share"><i class="fa-solid fa-code"></i> Kod Paylaş</a>
      </li>

      <li class="deneme nav-item dropdown">
        <a class="nav-link dropdown-toggle"><%= user.username %></a>
        <div class="dropdown-menu bg-transparent dropdown-menu-right">
         <a class="dropdown-item" href="/profile/<%= user.id %>"><i class="fa-solid fa-user"></i> Profil</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/logout"><i class="fas fa-sign-out-alt"></i> Çıkış Yap</a>
        </div>
      </li>
    </ul>

    <% } else { %>
      <a class="button1" style="margin-right: 20px; filter: invert(1);" href="/login"><i class="fa-solid fa-right-to-bracket"></i> Giriş Yap</a>
    <% } %>
  </div>
</nav>

<script src="https://code.jquery.com/jquery-3.5.0.js"></script>