@import "loader.css";
@import "navbar.css";
@import "team.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand";
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  background-color: rgb(17, 17, 17) !important;
  color: #ffffff !important;
  transition: 500ms all;
}

.scroll-down {
  height: 70px;
  width: 50px;
  position: absolute;
  border-radius: 50px;
  cursor: pointer;
  left: 47.8%;
  top: 90%;
  opacity: 0.3;
}

.scroll-down::before,
.scroll-down::after {
  content: "";
  position: absolute;
  top: 20%;
  left: 50%;
  height: 20px;
  width: 20px;
  transform: translate(-50%, -100%) rotate(45deg);
  border: 2px solid black;
  border-top: transparent;
  border-left: transparent;
  animation: scroll-down 1s ease-in-out infinite;
}

.scroll-down::before {
  top: 30%;
  animation-delay: 0.3s;
}

@keyframes scroll-down {
  0% {
    /* top:20%; */
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    top: 90%;
    opacity: 0;
  }
}

.toggle {
  position: relative;
  display: block;
  justify-content: center;
  align-items: center;
  top: 100px;
  text-align: center;
  right: 15px;
}

section.a {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #DBDBDB;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  clip-path: circle(180vh at 49% -80vh);
  transition: 500ms all;
}

section.a .content {
  max-width: 1000px;
  text-align: center;
}

section.a .content h2 {
  font-size: 3.5em;
  color: #000000;
  font-weight: 700;
  margin: 10px 0 30px 0;
}

section .content a {
  background-color: #ffffff;
  color: #111111;
}

.button1 {
  padding: 0.35em 1.2em;
  border: 0.1em solid rgb(17, 17, 17);
  border-radius: 0.2em;
  text-decoration: none;
  font-weight: 300;
  color: rgb(17, 17, 17);
  text-align: center;
  transition: all 300ms;
}

.button1:hover {
  color: #ffffff;
  background-color: rgb(17, 17, 17);
}

.totop a {
  display: none;
  position: fixed;
  bottom: 40px;
  right: 50px;
  z-index: 99;
  cursor: pointer;
}

.footer {
  justify-content: center;
  text-align: center;
  height: 30px;
  margin-top: 40px;
}

.footer a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

::-webkit-scrollbar {
  display: none;
}

.about {
  text-align: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 200px;
}

.red {
  color: red;
}

.info {
  text-align: center;
  min-height: 91vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card {
  transition: 300ms all;
}

.card:hover {
  box-shadow: 23px 23px 40px 0px rgba(0, 0, 0, 0.7);
}

.fa-copy {
  font-size: 25px;
  cursor: pointer;
  color: #b8b8b8;
  transition: 300ms all;
}

#likeText {
  color: white;
  margin-left: 5px;
}

.checkbox {
  opacity: 0;
  position: absolute;
}
        
.label {
  background-color: #222222;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 50px;
  position: relative;
  cursor: pointer;
  padding: 5px;
  height: 26px;
  width: 60px;
}
        
.ball {
  background-color: #ffffff;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 3px;
  height: 22px;
  cursor: pointer;
  width: 22px;
  transition: transform 0.2s linear;
}
        
.checkbox:checked + .label .ball {
  transform : translateX(32px);
}